*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
 /* font-family: 'PT Serif', serif; */
}

/* top navigation  */


header{
  width: 80%;
  margin: 60px auto;
  background-color: #F5F5F5;
  border-radius: 21px;
}
.navigation{
  display: flex;
  justify-content: space-between;
  padding: 18px 8px;
}
.in-pro{
  font-size: 1.5em;
}
.menu-item a{
  text-decoration: none;
  font-size: 1.3em;
  color: black;
  margin-left: 13px;
}
.menu-item i{
  font-size: 1.4em;
  padding-top: 3px;
}
.menu-item i:hover{
  color: #483D8B;
}

/* start section  */

.top-sec{
  width: 80%;
  height: 525px;
  margin: 0 auto;
  background-color: #F5F5F5;
  border-radius: 21px;
}
.top-container{
  display: flex;
  justify-content: space-between;
}
.start-journey{
  margin-left: 35px;
}
.start-text h2{
  font-size: 3em;
  color: black;
  margin-top: 77px;
}
.influ h2{
  font-size: 3em;
  color: black;
  margin-top: 17px;
}
.lorem-text p{
  width: 70%;
  margin-top: 9px;
  font-size: 1.1em;
  color: dimgray;
}
.pre-now{
  display: flex;
  margin-top: 49px;
  padding: 11px 25px;
  font-size: 1em;
  background: #800080;
  color: white;
  border-radius: 50px;
}
.pre-now i{
  margin-left: 7px;
  font-size: 1.3em;
}
.camera-image{
  margin-right: 123px;
  margin-top: 30px;
}
.camera-image img{
  width: 501px;
}

/* end top sec */


